<div class="grid">
    <div class="col-3">
        <mat-list>
            <mat-list-item><i><b>Nombre del paciente: {{paciente}}</b></i></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>
<div class="grid">
    <div class="col-3">
        <mat-list>
            <mat-list-item><i><b>Sexo: {{sexo}}</b></i></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>
<div class="grid" style="margin-top: 5rem;">
    <div class="col-offset-1"></div>
    <div class="col-2">
        <mat-list>
            <mat-list-item><i><b>Fecha</b></i></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div class="col-3">
        <mat-list>
            <mat-list-item><i><b>Evolución</b></i></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div class="col-4">
        <mat-list>
            <mat-list-item><i><b>Pagos</b></i></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>
<form [formGroup]="pagosForm">
<div class="grid">
    <div class="col-offset-1"></div>
    <div class="grid col-2">
        <mat-form-field class="col-12">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="pickerFechaPago" formControlName="fecha">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerFechaPago"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaPago></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="grid col-3" style="margin-left: 1rem;">
        <mat-form-field class="col-12">
            <mat-label>Escriba aqui el texto</mat-label>
            <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" formControlName="evolucion"></textarea>
        </mat-form-field>
    </div>
    <div class="grid col-6">
            <div class="col-3" *ngIf="!edit else costoBlock" style="margin-left: 1rem;">
                <mat-form-field>
                    <mat-label>Costo</mat-label>
                    <input matInput type="text" formControlName="costo">
                </mat-form-field>
            </div>
            <ng-template #costoBlock>
                <div class="col-3" style="margin-left: 1rem;">
                    <mat-form-field>
                        <mat-label>Restante</mat-label>
                        <input matInput type="text" formControlName="costo" readonly="true">
                    </mat-form-field>
                </div>
            </ng-template>
            <div class="col-3">
                <mat-form-field>
                    <mat-label>A cuenta</mat-label>
                    <input matInput type="text" formControlName="aCuenta">
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field>
                    <mat-label>Saldo</mat-label>
                    <input matInput type="text" formControlName="saldo" readonly="true">
                </mat-form-field>
            </div>
    </div>
</div>
<!--=============================================GUARDADO======================================-->
<div class="grid">
    <div class="col-offset-9"></div>
    <div class="col-3" *ngIf="completadoPagos == false">
        <button [disabled]="completadoPagos" mat-flat-button
        (click)="savePagosForm()">Realizar Pago</button>
    </div>
    <div class="col-3" *ngIf="completadoPagos == true">
        <button [disabled]="completadoPagos" mat-flat-button 
        >Informacion guardada</button>
    </div>
</div>
</form>

<div class="grid">
    <div class="col-offset-1"></div>
    <div class="col-10">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="evolucion">
          <th mat-header-cell *matHeaderCellDef> Evolucion </th>
          <td mat-cell *matCellDef="let element"> {{element.evolucion}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef> Costo/Restante </th>
          <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="aCuenta">
          <th mat-header-cell *matHeaderCellDef> A cuenta </th>
          <td mat-cell *matCellDef="let element"> {{element.aCuenta}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef> Saldo </th>
            <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>